footer {
  height: 100px;
  background: #606c76;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;

  p {
    font-size: 14px;
    font-style: italic;
    margin: 0;
  }
}