header {
  width: 100%;
  background-color: #78AAC3;
  color: #FFFFFF;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 50px;

  .logo {
    font-family: 'Molle', cursive;
    font-size: 40px;
  }

  .login {
    a {
      color: #FFFFFF;
    }
  }

  .navbar {
    margin: 0;

    &-item {
      display: inline-block;
      list-style-type: none;
      padding-left: 30px;

      a {
        color: #FFFFFF;
      }
    }
  }
}